<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glancelocationappwidget">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlanceLocationAppWidget"
        tools:targetApi="31">

        <activity
            android:name="com.example.glancelocationappwidget.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GlanceLocationAppWidget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.glancelocationappwidget.AppWidgetPinnedReceiver"
            android:exported="false" />

        <receiver
            android:name="com.example.glancelocationappwidget.widget.receiver.LocationAppReceiver"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_location_provider_info" />
        </receiver>
    </application>

</manifest>